@mixin respondFrom($breakpoint) {
  
  $break : map-get($breakpoints, $breakpoint);
 
  @media screen and (min-width: $break) {
    @content;
  }
}

@mixin respondTo($breakpoint) {

  $break : map-get($breakpoints, $breakpoint);
 
  @media screen and (max-width: $break) {
    @content;
  }
}

@mixin respondBetween($breakpointIn, $breakpointOut) {
  
  $breakIn : map-get($breakpoints, $breakpointIn);
  $breakOut : map-get($breakpoints, $breakpointOut);

  @media screen and (min-width: $breakIn) and (max-width: $breakOut) {
    @content;
  }
}

@mixin anchorStyles($color, $hover-color, $transition: true, $underline: false) {
  
  a {
    
    &:link,
    &:visited,
    &:focus,
    &:active {
      color: $color;
    }
    
    &:hover {
      color: $hover-color;
    }
  }
  
  @if ($transition) {
    a {
      @include transitions(color, 400ms, ease-in-out);
    }
  }
  
  @if ($underline) {
    a {
      text-decoration: underline;
    }
  }
  @else {
    a {
      text-decoration: none;
    }
  }
}

@mixin transitions($property, $duration, $effect) {
  transition: $property $duration $effect;
}

@mixin centerTextY($height) {
  height: $height;
  line-height: $height;
}

@mixin posX($x: 50%) {
  position: absolute;
  left: $x;
  transform: translateX(-$x);
}

@mixin posY($y: 50%) {
  position: absolute;
  top: $y;
  transform: translateY($y - ($y * 2));
}

@mixin posXY($x: 50%, $y: 50%) {
  position: absolute;
  top: $y;
  transform: translateY($y - ($y * 2));
  left: $x;
  transform: translateX($x - ($x * 2));
}

@mixin btnDimensions($width, $height, $f-size) {
  width: $width;
  max-width: 100%;
  height: $height;
  font-size: $f-size;
}

@mixin plainBtn($f-color, $b-weight, $b-type, $b-color) {
  border: $b-weight $b-type $b-color;
  color: $f-color;
}

@mixin filledBtn($f-color, $bg, $border: 0) {
  border: $border;
  background: $bg;
  color: $f-color;
}