$color-primary-0: #FF0000;	// Main Primary color */
$color-primary-1: #FFF5F5;
$color-primary-2: #FF4646;
$color-primary-3: #8C0000;
$color-primary-4: #0A0000;

$colors: (
  primary : (
    light: #FF4646,
    base: #FF0000,
    dark: #8C0000
  ),
  secondary: (
    light: #C4CCCC,
    base: #00C6C6,
    dark: #005454
  ),
  tertiary: (
    base: #0A0000
  )
);

$breakpoints : (
  mobile: 480px,
  small-tablet: 600px,
  tablet: 768px,
  desktop: 992px,
  small-widescreen: 1200px,
  standard-widescreen: 1600px
);