<button id="nav-toggle" class="button">
  <hr class="nav-toggle__stripe">
  <hr class="nav-toggle__stripe">
  <hr class="nav-toggle__stripe">
</button>
<ul id="site-nav" class="reset-list">
  <li ng-repeat="item in menu" class="site-nav__item">
    <a href="item.target" ng-bind="item.label"></a>
  </li>
</ul>