<div class="row padding-top extreme">
  <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-lg-4 col-lg-offset-4">
    <h1>Sign up to Mongo Movies</h1>
    <p>Gain full access by completing the form below</p>
    <form method="post" role="form">
      <div class="form-group">
        <label for="fname">First name:</label>
        <input type="text" id="fname" class="form-control" name="fname"
               alt="Enter firstname" ng-model="newUser.fname">
      </div>
      <div class="form-group">
        <label for="lname">Last name:</label>
        <input type="text" id="lname" class="form-control" 
               alt="Enter lastname" ng-model="newUser.lname">
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="newUser.useDisplayName"> Use real name as display name
        </label>
      </div>
      <div class="form-group">
        <label for="display-name">Display name:</label>
        <input type="text" id="display-name" class="form-control" 
               alt="Enter display name" ng-model="newUser.displayName">
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" class="form-control" 
               alt="Enter email" ng-model="newUser.email">
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" class="form-control" 
               alt="Enter password" ng-model="newUser.password">
      </div>
      <div class="form-group">
        <label for="confirm-pass">Confirm password:</label>
        <input type="password" id="confirm-pass" class="form-control"
               alt="Confirm password" ng-model="newUser.confirmedPass">
      </div>
      <div class="row">
        <button type="submit" class="button filled-pr round smooth small"
                ng-click="completeSignup()">Confirm</button>
        <span class="error" ng-bind="valError"></span>
      </div>
    </form>
  </div>
</div>