<div class="row padding-top extreme">
  <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-lg-4 col-lg-offset-4">
    <h1>Sign in to Mongo Movies</h1>
    <p>Enter your credentials below</p>
    <form role="form">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" class="form-control" 
               alt="Enter email" ng-model="existingUser.email">
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" class="form-control" 
               alt="Enter password" ng-model="existingUser.password">
      </div>
      <div class="row">
        <button type="submit" class="button filled-pr round smooth small"
                ng-click="signin()">Confirm</button>
        <span class="error" ng-bind="valError"></span>
      </div>
    </form>
  </div>
</div>