.button-group {
  
  .button {
    
    &:first-of-type {
      float: left;
    }
    
    &:nth-of-type(1n+2) {
      display: inline-block;
    }
    
    &:last-of-type {
      float: right;
    }
  }
  
  &:after {
    display: block;
    content: '';
    clear: both;
  }
}

.button {
  border: 0;
  box-sizing: border-box;
  outline: 0;
  background: none; 
}

.filled-pr,
.filled-alt,
.plain-pr,
.plain-alt {
  
  &.small {
    @include btnDimensions(100px, 35px, 1.2em);
    
    &.half {
      width: 48%;
    }
  }
  
  &.medium {
    @include btnDimensions(200px, 40px, 1.4em);
    
    &.half {
      width: 48%;
    }
  }
  
  &.large {
    @include btnDimensions(300px, 50px, 1.6em);
    
    &.half {
      width: 48%;
    }
  }
  
  &.full {
    @include btnDimensions(100%, 60px, 1.8em);
  }
}

.filled-pr {
  @include filledBtn(white, black);
}

.filled-alt {
  @include filledBtn(white, black);
}

.plain-pr {
  @include plainBtn(white, 2px, solid, black);
}

.plain-alt {
  @include plainBtn(white, 2px, solid, black);
}

.round {
  border-radius: 10px;
  
  &.smooth {
    border-radius: 5px;
  }
  
  &.heavy {
    border-radius: 15px;
  }
}