.padding {
  padding: 10px;
  
  &.narrow {
    padding: 20px;
  }
  
  &.medium {
    padding: 30px;
  }
  
  &.thick {
    padding: 40px;
  }
  
  &.extreme {
    padding: 70px;
  }
}

.padding-top {
  padding-top: 10px;
  
  &.narrow {
    padding-top: 20px;
  }
  
  &.medium {
    padding-top: 30px;
  }
  
  &.thick {
    padding-top: 40px;
  }
  
  &.extreme {
    padding-top: 70px;
  }
}