#site-nav {
  clear: both;
  background-color: #22313F;
  
  @include respondFrom(desktop) {
    float: right;
    height: 100px;
    line-height: 100px;
    clear: none;
    background: none;
  }
}

.site-nav__item {
  line-height: 30px;
  
  @include respondFrom(desktop) {
    float: left;
    margin: 0 30px 0;
  }
}

#nav-toggle {
  float: right;
  width: auto;
  margin: 20px 0 0;
  padding: 5px 3px;
  
  @include respondFrom(desktop) {
    display: none;
  }
}

.nav-toggle__stripe {
  width: 32px;
  height: 4px;
  margin: 0;
  border: 0;
  border-radius: 10px;
  background-color: black;
  
  &:nth-of-type(2) {
    margin: 4px 0;
  }
}